{{ form_start(form) }}
  <div class="form-group">
    {{ form_row(form.name) }}
  </div>
  <div class="form-group">
    {{ form_row(form.section) }}
  </div>
  <div class="form-group">
    {{ form_row(form.content) }}
  </div>
  <button type="submit" class="btn btn-primary">Добавить</button>
{{ form_end(form) }}
